# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
paramiko==2.8.1
PyYAML==6.0
pandas==1.5.3
db_dtypes
pandas_gbq
json5==0.9.6
google==3.0.0
google-auth-oauthlib==0.8.0
numpy==1.23.5
httplib2==0.22.0
google-api-python-client==2.83.0
oauth2client==4.1.3
openpyxl==3.0.10
Unidecode==1.2.0
