paramiko==2.8.1
PyYAML==6.0
pandas==1.5.3
db_dtypes
pandas_gbq
json5==0.9.6
google==3.0.0
google-auth-oauthlib==0.8.0
numpy==1.23.5
httplib2==0.22.0
google-api-python-client==2.83.0
oauth2client==4.1.3
openpyxl==3.0.10
Unidecode==1.2.0
PyYAML
pandas
db_dtypes
pandas_gbq
json5
google
google-auth-oauthlib
numpy
httplib2
google-api-python-client
oauth2client
openpyxl
Unidecode
paramiko
gspread
streamlit
google-cloud-firestore==2.19.0
streamlit
pandas
numpy
requests
google-cloud-firestore
google-auth
PyYAML
pandas
smtplib
ssl
email
openai
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
google-cloud-bigquery
google-auth-requests
google-cloud-secret-manager
